{% extends 'base.html.twig' %}

{% block title %}Edit TypeFraisForfait{% endblock %}

{% block body %}
    <h1>Edit TypeFraisForfait</h1>

    {{ include('type_frais_forfait/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_frais_forfait_index') }}">back to list</a>

    {{ include('type_frais_forfait/_delete_form.html.twig') }}
{% endblock %}
